<html>
        {% load static %}

        <head>
                    <title>User register</title>
                     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                    <link href="{% static 'cssFiles/userRegister.css' %}" rel="stylesheet" type="text/css">
                    <script src="{% static 'jsFiles/userRegister.js' %}"></script>

</head>

    <body>
         
                <div class = 'content'> 
 
                            <input type="text" class="usernameInput">
                    <input type="email" class="emailInput">
                    <input type="password" class="passwordInput">
                    <input type="password" class="confirmPasswordInput">
                    <button class="submitButton">Sign Up</button>
                </div>

        </body>

</html>
