*{
    margin:0px;
    padding:0px;
}


body{
    display:flex;
    flex-direction:column;
    }

.navbar{
    height:50px;
    width:100%;
    background:#0081B9;
    display:flex;
    justify-content: space-between;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.62);
    }


.content{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    }


